@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply custom scrollbar to all scrollable elements */
@layer utilities {
  /* Default scrollbar style */
  .scrollbar-custom {
    @apply scrollbar-thin scrollbar-thumb-gray-700 scrollbar-track-transparent hover:scrollbar-thumb-gray-600;
  }
}

/* Apply scrollbar styling globally */
* {
  @apply scrollbar-custom;
}


.spinner {
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-top: 2px solid white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 0.6s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #374151 transparent;
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 26, 31, 43;
  --background-end-rgb: 26, 31, 43;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-start-rgb));
}

@keyframes cube-rotate {
  0% {
    transform: rotateX(0) rotateY(0);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}
